<section id="header-section">
    <div class="card" style="width: 24rem;">
        <img src="https://img.freepik.com/free-vector/hacker-operating-laptop-cartoon-icon-illustration-technology-icon-concept-isolated-flat-cartoon-style_138676-2387.jpg?w=740&t=st=1706095991~exp=1706096591~hmac=70cffbbc1c5842949e7e32f02233e7430ba6c0b3556d3a009fae1256317a3092" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bolder">Ahmed Nasser Hussein</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a href="#" class="btn btn-secondary">Contact me</a> -->
          <button class="btn btn-secondary btn-lg" (click)="navigateToContactMe()">Contact me</button>
        </div>
      </div>
</section>
