<section id="about-me">
    <div>
        <h1>About Me</h1>
        <button  id="download-button" class="btn btn-lg btn-secondary font-weight-bold">Download Resume</button>
        <div class="myinfo">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus exercitationem cupiditate accusamus nisi suscipit perspiciatis odio, architecto fugit aperiam facilis provident, fugiat recusandae minima eaque laboriosam quia. Perspiciatis error atque ipsum beatae iste provident quae excepturi saepe odio dolorum amet aperiam neque commodi voluptatibus nesciunt natus quis, eveniet quaerat quod, modi eligendi, nobis delectus obcaecati nulla. Saepe facilis cum error aspernatur odit? Repellendus iste minima quo, aut hic libero. In doloribus beatae illum nemo laborum vitae reiciendis, error quos accusamus fugit iste, doloremque tenetur eveniet libero, aut assumenda velit nam debitis sed commodi! Voluptas iste non quibusdam beatae similique minus!
        </div>
    </div>
</section>