<section id="skills-section">
    <h1>My Skills</h1>
    
    <div class="d-flex justify-content-center">

        <div class="progress w-50 m-5 custom_progressBar_style" role="progressbar" aria-label="Default striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped" style="width: 75%">JAVA</div>
        </div>
    
        <div class="progress w-50 m-5 custom_progressBar_style" role="progressbar" aria-label="Default striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped" style="width: 75%">PYTHON</div>
        </div>
    
        <div class="progress w-50 m-5 custom_progressBar_style" role="progressbar" aria-label="Default striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped" style="width: 75%">HTML</div>
        </div>
    
        <div class="progress w-50 m-5 custom_progressBar_style" role="progressbar" aria-label="Default striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped" style="width: 75%">CSS</div>
        </div>
    
    </div>
    <div class="Skills-details">
        <h3 style="text-align: center;">MY Interests</h3>
        <hr style="font-weight: bolder;">
        <ul id="interestsList">
            <li class="interestsItems">Front end developemnt</li>
            <li class="interestsItems">Back end developemnt</li>
            <li class="interestsItems">UI/UX</li>
            <li class="interestsItems">Web Design</li>
            <li class="interestsItems">Machine learning</li>
            <li class="interestsItems">Natural Language processin</li>
            <li class="interestsItems">Computer Vision</li>
            <li class="interestsItems">Mobile App Design</li>
        </ul>
    </div>
    
    
</section>
