<section id="portfolio-section">
    <div class="container">
        <h2 class="text-center mb-4 pt-5">My Portfolio</h2>
      
        <!-- First Row -->
        <div class="row mb-5">
          <div class="col-md-4">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header">PYTHON</div>
              <div class="card-body">
                <h5 class="card-title text-info">Hieroglypgs Translation</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header">JAVA</div>
              <div class="card-body">
                <h5 class="card-title text-info">Management system</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header">WEB DESIGN</div>
              <div class="card-body">
                <h5 class="card-title text-info">Gaming website</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Second Row -->
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header">GAME DEVELOPMENT</div>
              <div class="card-body">
                <h5 class="card-title text-info">king slayer game using unity</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header">BLENDER</div>
              <div class="card-body">
                <h5 class="card-title text-info">short episode for a series</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header">BASH SCRIPTING</div>
              <div class="card-body">
                <h5 class="card-title text-info">DBMS</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
